# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc

# Conda environment files
/env/
.env
.venv

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# IDE specific files
.idea/
.vscode/

# Ignore large data and model files
data/*.csv
models/*.pkl